In [1]:
# input 정수형 변환
input1 = int(input("숫자를 입력해주세요: "))
input2 = int(input("숫자를 입력해주세요: "))

print(input1+input2)

210

In [3]:
# 리스트
orders = ["짜장", "짬뽕", "탕수육"]

print(orders)

['짜장', '짬뽕', '탕수육']

In [6]:
# insert
orders.insert(1,"냉면")
orders.insert(2,"양장피")
print(orders)

['짜장', '냉면', '양장피', '짬뽕', '양장피', '탕수육']

In [7]:
# del 인덱스번호로 데이터삭제
# remove 데이터의 이름을 지정
orders = ["짜장", "짬뽕", "탕수육"]

# del orders[0]
orders.remove("짜장")

print(orders)

['짬뽕', '탕수육']

In [8]:
# 리스트 길이
orders = ["짜장", "짬뽕", "탕수육"]

print(len(orders))

3

In [9]:
# 숫자리스트
num = [20, 40, 50, 10, 30]

print(num)

[20, 40, 50, 10, 30]

In [11]:
# 리스트 평균
num = [20, 40, 50, 10, 30]

a_num = sum(num)/len(num)
a_num

30.0

In [12]:
# 딕셔너리
menu = {"짜장" : 4000, "짬뽕" : 5000, "탕수육" : 9000}

print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000}

In [13]:
# 딕셔너리 추가
menu = {"짜장" : 4000, "짬뽕" : 5000, "탕수육" : 9000}

menu["냉면"] = 6000

print(menu)
print(menu["짬뽕"])

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000, '냉면': 6000}
5000

In [14]:
# 딕셔너리 데이터값 변경
menu = {"짜장" : 4000, "짬뽕" : 5000, "탕수육" : 9000}

menu["탕수육"] = 8500
menu["짜장"] = 4500

print(menu)

{'짜장': 4500, '짬뽕': 5000, '탕수육': 8500}

In [15]:
# 딕셔너리 데이터값 삭제
menu = {"짜장" : 4000, "짬뽕" : 5000, "탕수육" : 9000}

del menu["짜장"]
del menu["탕수육"]
del menu["짬뽕"]

print(menu)

{}

In [ ]:
# 조건문
myGrade = int(input("학번을 입력하세요 : "))
yourGrade = int(input("학번을 입력하세요 : "))

print(myGrade != yourGrade)

In [ ]:
# if조건문 
myGrade = int(input("학번을 입력하세요 : "))
yourGrade = int(input("학번을 입력하세요 : "))

if myGrade != yourGrade :
    print("앗 동기네요!")
    print("반갑습니다.")
print("누구세요?")

In [ ]:
# if else 조건문
myGrade = int(input("학번을 입력하세요 : "))
yourGrade = int(input("학번을 입력하세요 : "))

if myGrade == yourGrade :
    print("앗 동기네요!")
else :
    print("앗 동기가 아니네요!")

In [ ]:
# elif 조건문
myGrade = int(input("학번을 입력하세요 : "))
yourGrade = int(input("학번을 입력하세요 : "))

if myGrade == yourGrade :
    print("안녕하세요 동기님!")
elif myGrade > yourGrade :
    print("안녕하세요 선배님!")
elif myGrade < yourGrade :
    print("안녕하세요 후배님!")
else :
    print("누구세요?")

In [ ]:
# in 키워드
orders = ["짜장", "짬뽕", "탕수육"]

food = input("먹고싶은 메뉴를 입력해주세요 : ")

if food in orders :
    print("주문할 수 있습니다.")
else :
    print("주문할 수 없습니다")

In [ ]:
# while반복문
while 10 < 90 :
    print("True")
    break

In [16]:
# 5 -> 1출력
i = 5

while 0 <i < 6 :
    print(i)
    i = i - 1

5
4
3
2
1

In [ ]:
# for반복문
for x in range(100) :
    print("안녕하세요")

In [ ]:
# for문 응용 range
result = 1

for x in range(1, 11) :
    result = result * x

print(result)

In [ ]:
# 별찍기 
for i in range(5):
    print("*")

In [ ]:
# 별찍기 가로출력
for i in range(5):
    print("*",end="")

In [18]:
# 별찍기 정사각
for i in range(5):
    print("*"*5)

*****
*****
*****
*****
*****

In [21]:
# 별찍기 직각삼각형
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [ ]:
# 별찍기 정삼각형
for i in range(1,6):
    print("*"*i)

In [29]:
user_input = int(input("줄바꿈을 하려는 숫자를 입력해주세요"))

for i in range(user_input):
    if i % 10 ==0:
        print()
    else:
        print(i+1,end="\t")

2	3	4	5	6	7	8	9	10
12	13	14	15	16	17	18	19	20
22	23	24	25	26	27	28	29	30
32	33	34	35	36	37	38	39	40
42

In [27]:
# 랜덤번호
import random

randomNumber = random.sample(range(1, 51), 3)
print(randomNumber)

[16, 19, 8]

In [22]:
# 랜덤번호
import random

lotto_count = int(input("로또를 몇번 구매합니까: "))
for i in range(lotto_count):
    randomNumber = random.sample(range(1, 46), 6)
    randomNumber = sorted(randomNumber)
    print(randomNumber)

[5, 19, 24, 25, 38, 45]
[6, 7, 10, 28, 39, 41]
[13, 17, 32, 39, 40, 41]
[8, 9, 12, 17, 22, 29]
[8, 12, 16, 33, 44, 45]
[11, 22, 28, 33, 37, 43]
[9, 19, 21, 24, 38, 45]
[5, 6, 29, 36, 40, 41]
[16, 18, 24, 35, 37, 42]
[4, 11, 14, 18, 26, 40]

In [35]:
def solution(numbers):
    answer = []
    for i in numbers:
        answer.append(i*2)
    return answer

numbers = [1, 2, 3, 4, 5]
solution(numbers)

[2, 4, 6, 8, 10]

In [41]:
def solution(array):
    sorted_array = sorted(array)
    answer = sorted_array[int(len(sorted_array)/2)]
    return answer

array = [1, 2, 7, 10, 11]	
solution(array)

7

In [46]:
def solution(n):
    answer = []
    for i in range(1,n+1):
        if i % 2 == 1:
            answer.append(i)
    # answer = sorted(answer)
            
    
    
    return answer

n = 20
solution(n)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]