In [ ]:
# 은행 계좌 클래스
class BankAccount: # bankaccount, bank_account,,..... BANKACCOUNT,,.. 클래스는 카멜 표기법을 사용하는게 좋다
  def __init__(self):
    self.owner = 'my_name'

In [ ]:
my_account = BankAccount()

In [ ]:
my_account.owner

'my_name'

In [ ]:
# 은행 계좌 클래스
# 고객이 계좌를 만들어 달라고 하시면, 이름과 전화번호를 반영해서 계좌를 만들어 주세요(메뉴얼)
class BankAccount:
  def __init__(self, owner, phone):
    self.owner = owner
    self.phone = phone

In [ ]:
my_account = BankAccount('윤아', '01012340000')

In [ ]:
my_account.owner

'윤아'

In [ ]:
my_account.phone

'01012340000'

In [ ]:
# 은행 계좌 클래스
# 고객이 계좌를 만들어 달라고 하시면, 이름과 전화번호를 반영해서 계좌를 만들어 주세요(메뉴얼)
class BankAccount:
  def __init__(self, owner, phone):
    self.owner = owner
    self.phone = phone
  def deposit(self):
    print("입금했습니다!")

In [ ]:
my_account = BankAccount('민석',"01012341111")

In [ ]:
my_account.deposit()

입금했습니다!

In [ ]:
class BankAccount:
  def __init__(self, owner, balance = 0):
    self.owner = owner
    self.balance = balance
  def deposit(self, amount):
    self.balance += amount
    print("{}가 {}님 계좌에 입금되었습니다".format(amount, self.owner))
  def get_money(self, amount):
    if self.balance >= amount:
      print(f"{self.owner}님의 계좌에서 {amount}가 출금되었습니다.")
      self.balance -= amount
    else:
      print("잔액이 부족하네요!")
my_account = BankAccount("희성", balance = 1000000)

In [ ]:
my_account.deposit(500000)

500000가 희성님 계좌에 입금되었습니다

In [ ]:
my_account.balance

1500000

In [ ]:
my_account.get_money(200000)

희성님의 계좌에서 200000가 출금되었습니다.

In [ ]:
my_account.balance

1300000

In [ ]:
my_account.get_money(2000000)

잔액이 부족하네요!

In [ ]:
account1 = BankAccount("용진", 1000000)
account2 = BankAccount("예찬", 510000)
account3 = BankAccount("여진", -100000000)

In [ ]:
account1,account2,account3

(<__main__.BankAccount at 0x7ebea11546d0>,
 <__main__.BankAccount at 0x7ebea1155210>,
 <__main__.BankAccount at 0x7ebea1155b40>)

In [ ]:
account1.owner

'용진'

In [ ]:
account2.balance

510000

In [ ]:
account3.deposit(150000000)

150000000가 여진님 계좌에 입금되었습니다

In [ ]:
account3.balance

50000000

In [ ]:
# 자동차
class Car:
  def __init__(self, make_company, model, year, color, kilos):
    self.make_company = make_company
    self.model = model
    self.year = year
    self.color = color
    self.kilos = kilos
  def drive(self, kilos):
    self.kilos += kilos
    print("총 주행거리는 {}km입니다.".format(self.kilos))

In [ ]:
car = Car("기아", "카니발", 2024, 'white', 0)

In [ ]:
car.drive(5)

총 주행거리는 40km입니다.

In [ ]:
car.color = 'red'

In [ ]:
# 이커머스
class Product:
  def __init__(self, name, price):
    self.name = name
    self.price = price

class ShoppingCart:
  def __init__(self, customer):
    self.customer = customer
    self.products = []
  def add_product(self, product):
    self.products.append(product)
  def total_price(self):
    return sum(product.price for product in self.products)

In [ ]:
cart = ShoppingCart("재준")
cart.add_product( Product("PythonBook",20000))
cart.add_product( Product("NoteBook",3000000))

In [ ]:
cart.total_price()

3020000

 # 상속

In [ ]:
class Animal:
  def __init__(self, name):
    self.name = name
  def speak(self):
    raise NotImplementedError("아직 구현이 안되었네요")

In [ ]:
class Dog(Animal):
  def speak(self):
    print("왈왈!!")

In [ ]:
dog = Dog('dog')

In [ ]:
dog.speak()

왈왈!!

In [ ]:
class Cat(Animal):
  def speak(self):
    print("야옹~~!")
  def playing(self):
    print("재미있게 놉니다!")

In [ ]:
cat = Cat('고양이')

In [ ]:
cat.speak()

야옹~~!

In [ ]:
cat.playing()

재미있게 놉니다!

In [ ]:
# super
class Person:
  def __init__(self, name):
    self.name = name
  def introduce(self):
    print("나는 {}입니다.".format(self.name))

In [ ]:
person = Person("일론머스크")
person.introduce()

나는 일론머스크입니다.

In [ ]:
class Student(Person):
  def __init__(self, name, student_id):
    super().__init__(name)
    self.student_id = student_id

  def introduce(self):
    super().introduce()
    print(f"내 학번은 {self.student_id}번 입니다.")

In [ ]:
student = Student("희성",1)

In [ ]:
student.introduce()

나는 희성입니다.
내 학번은 1번 입니다.

In [ ]:
class Base1:
  def __init__(self):
    print("Base1의 __init__ 실행")
    super().__init__()
class Base2:
  def __init__(self):
    print("Base2의 __init__ 실행")
    super().__init__()

class Child(Base1, Base2):
  def __init__(self):
    print("Child의 __init__ 실행")
    super().__init__()

child = Child()

Child의 __init__ 실행
Base1의 __init__ 실행
Base2의 __init__ 실행

In [ ]:
# Static Method
class Math:
  def add(self, x, y):
    return x + y

math = Math()
math.add(3, 5)

8

In [ ]:
class Math:
  @staticmethod
  def multiply(x, y):
    return x*y

In [ ]:
Math.multiply(3, 8)

24

In [ ]:
class Person:
  population = 0

  def __init__(self, name):
    self.name = name
    Person.population +=1
  @classmethod
  def get_population(cls):
    return cls.population

  @classmethod
  def create_anonymous(cls):
    return cls("Anonymous")

John = Person('John')

In [ ]:
John.get_population()

1

In [ ]:
Jane = Person('Jane')

In [ ]:
Jane.get_population()

2

In [ ]:
anonymous = Person.create_anonymous()

In [ ]:
anonymous

In [ ]:
# property
class Temperature:
  def __init__(self, celsius):
    self._celsius = celsius

  @property
  def celsius(self):
    return self._celsius * 1000

  @celsius.setter
  def celsius(self, value):
    if value < -273:
      raise ValueError("들어온 값에 확인이 필요합니다.")
    self._celsius = value

In [ ]:
temp = Temperature(6)

In [ ]:
temp.celsius = -300

ValueError: 들어온 값에 확인이 필요합니다.

In [ ]:
class ClassStatic:
  @staticmethod
  def check():
    print("hello!")

In [ ]:
class InitNeed:
  number = 123
  def __init__(self):
    number_instance = 10
  @classmethod
  def get(cls):
    return cls.number
  def cls_number_val(self, val):
    InitNeed.number = val

In [ ]:
a = InitNeed()
b = InitNeed()

In [ ]:
a.number, b.number

(999, 999)

In [ ]:
b.cls_number_val(999)

In [ ]:
# Class 정리

# 클래스 : 메뉴(메뉴보여주기, 메뉴추가, 삭제), 상점(메뉴보여주기, 주문받기, 결제하기)
class Menu:
  def __init__(self):
    self.menus = dict() # {}
  def add_menu(self, name, price):
    if name in self.menus.keys():
      print("이미 있는 메뉴 입니다!")
    else:
      self.menus[name] = price
  def delete_menu(self, name):
    pass
  def show_menus(self):
    print("메뉴입니다.")
    for name, price in self.menus.items():
      print(f"{name} : {price}")
class Shop:
  def __init__(self):
    pass

In [ ]:
menu = Menu()
menu.add_menu('coffee', 5000)
menu.add_menu('latte', 6000)
menu.add_menu('cake', 1000)

In [ ]:
menu.show_menus()

메뉴입니다.
coffee : 5000
latte : 6000
cake : 1000

In [ ]:
class Shop:
  def __init__(self, menus, shop_name, address):
    self.shop_name = shop_name
    self.address = address
    self.menus = menus
  def show_shop_menus(self):
    print("항상 최고의 서비스로 보답하겠습니다.")
    self.menus.show_menus()

In [ ]:
shop = Shop(menu,'멋사카페','스페인')
shop.show_shop_menus()

항상 최고의 서비스로 보답하겠습니다.
메뉴입니다.
coffee : 5000
latte : 6000
cake : 1000

In [ ]:
class Cafe(Shop):
  def __init__(self, menu, shop_name, address, point_discount):
    super().__init__(menu, shop_name, address)
    self.point_discount = point_discount
    self.orders_count = 0
  def show_shop_menus(self):
    print("우리집은 MBC에 나온 맛집입니다!!")
    self.menus.show_menus()
  @property
  def count_menu(self):
    return len(self.menus.menus)
  def order(self):
    print("주문이 완료되었습니다.")
    self.orders_count+=1
  def get_order_count(self):
    return self.orders_count

In [ ]:
cafe = Cafe(menu,'멋사카페','스페인', point_discount=0.1)

In [ ]:
cafe.order()
cafe.get_order_count()

주문이 완료되었습니다.

7

In [ ]:
# 원격 진료
# 사람 > 의사, 환자
# 진료 일정
class Person:
  def __init__(self, name, age): # 이전병력?
    self.name = name
    self.age = age

class Doctor(Person):
  total_appointments = 0

  def __init__(self, name, age, hospital):
    super().__init__(name, age)
    self.hospital = hospital
    self._appointments = 0

  @classmethod
  def update_total_appointments(cls):
    cls.total_appointments += 1

  def patient_meeting(self):
    self._appointments+=1

In [ ]:
class Patient(Person):
  def __init__(self, name, age):
    super().__init__(name, age)

In [ ]:
class Appointment:
  def __init__(self, doctor, patient):
    self.doctor = doctor
    self.patient = patient
  def done(self):
    self.doctor._appointments +=1
    self.doctor.update_total_appointments()

In [ ]:
patient = Patient('Jane', 60)
doctor = Doctor('John', 50, '삼성의료원')

In [ ]:
appointment = Appointment(doctor, patient)

In [ ]:
appointment.done()

In [ ]:
doctor._appointments

1

In [ ]:
Doctor.total_appointments

3

In [ ]:
patient = Patient('Jane1', 60)
doctor = Doctor('John1', 50, '아산병원')
appointment1 = Appointment(doctor, patient)
appointment1.done()

In [ ]:
doctor._appointments

1

# 2시에 이어서 하겠습니다!

In [ ]:
class Product:
  def __init__(self, name, price):
    self.name = name
    self.price = price
  def get_name(self):
    return self.name
  def __str__(self):
    return self.name
  def __repr__(self):
    return self.name+" : "+str(self.price)+"원"

In [ ]:
product = Product('피자',25000)
print(product.get_name())

피자

In [ ]:
print(product)

피자

In [ ]:
product

피자 : 25000원

In [ ]:
# 비교연산
class Box:
  def __init__(self, width, height):
    self.width = width
    self.height = height
  # 박스의 크기를 비교하고 싶어요
  def __lt__(self, other):
    return self.width < other.width

In [ ]:
box1 = Box(1, 5)
box2 = Box(2, 6)

In [ ]:
a = [1,2,3,4,5]
len(a)

5

In [ ]:
class Folder:
  def __init__(self, files):
    self.files = files
  def __getitem__(self, index):
    return self.files[index]
  def __len__(self):
    return len(self.files)

In [ ]:
file_list = ["text_{}.txt".format(i) for i in range(10) ]
file_list

['text_0.txt',
 'text_1.txt',
 'text_2.txt',
 'text_3.txt',
 'text_4.txt',
 'text_5.txt',
 'text_6.txt',
 'text_7.txt',
 'text_8.txt',
 'text_9.txt']

In [ ]:
folder = Folder(file_list)
folder

In [ ]:
folder[-3]

'text_7.txt'

In [ ]:
len(folder)

10

In [ ]:
# 의사 선생님 - 담당하는 환자리스트를 가지고 있다.
# 우리는 의사의 이름, 환자 정보, 전체 담당 환자의 정보를 받고자 한다.
class Doctor:
  def __init__(self, name):
    self.name = name +"_doctor"
    self.patients = ["환자{}".format(i) for i in range(50)]

In [ ]:
doctor = Doctor('미진')

In [ ]:
doctor.name

'미진_doctor'

In [ ]:
# 3번째 환자 알고 싶어
doctor.patients[2]

'환자2'

In [ ]:
len(doctor.patients)

50

In [ ]:
# 의사 선생님 - 담당하는 환자리스트를 가지고 있다.
# 우리는 의사의 이름, 환자 정보, 전체 담당 환자의 정보를 받고자 한다.
class Doctor:
  def __init__(self, name, patient_num):
    self.name = name +"_doctor"
    self.patients = ["환자{}".format(i) for i in range(patient_num)]
  def __str__(self):
    return self.name
  def __repr__(self):
    return self.name
  def __getitem__(self, index):
    return self.patients[index]
  def __len__(self):
    return len(self.patients)
  def __lt__(self, other):
    return len(self.patients) < len(other.patients)

In [ ]:
doctor1 = Doctor("지훈", 30)
doctor2 = Doctor("여진", 28)

In [ ]:
doctor1 > doctor2

True

In [ ]:
# 컴퓨터 class 컴포지션 예제
class Cpu:
  def __init__(self, brand):
    self.brand = brand
class Computer:
  def __init__(self, cpu):
    self.cpu = cpu

computer1 = Computer(Cpu(brand = 'Intel'))

In [ ]:
cpu = Cpu(brand = 'AMD')
computer2 = Computer(cpu)

In [ ]:
class Book:
  def __init__(self, title):
    self.title = title
class Library:
  def __init__(self):
    self.books = []
  def add_book(self, book):
    self.books.append(book)

In [ ]:
book1 = Book("Python Backend")
library = Library()
library.add_book(book1)

In [ ]:
# 믹스인
class LoggerMixin:
  def log(self, message):
    print("Log : {}".format(message))

class DataProcessor(LoggerMixin):
  def process(self, data):
    self.log(f"Processing {data}")

processor = DataProcessor()
processor.process("빵 판매")

Log : Processing 빵 판매

In [ ]:
# 인터페이스 검증 믹스인:
class InterfaceMixin:
  def verify_interface(self):
    if not hasattr(self, 'required_method'):
      raise NotImplementedError("Class에 required_method를 정의해야 합니다!")

class Print(InterfaceMixin):
  def doc_print(self):
    print("문서 인쇄가 잘되네요")
  def required_method(self):
    print("만들어 놨구먼")

In [ ]:
hnc_print = Print()

In [ ]:
hnc_print.verify_interface()

In [ ]:
class Student:
  def __init__(self, name, age, major):
    self.name = name
    self.age = age
    self.major = major
student_original = Student("이름",100, "파이썬")

In [ ]:
student_original

In [ ]:
# dataclass
from dataclasses import dataclass

@dataclass
class Student_dc:
  name : str
  age : int
  major : str

student1 = Student_dc('멋사', 30, 'IT')

In [ ]:
student1.name

'멋사'

In [ ]:
@dataclass
class Book:
  title : str
  author : str
  year_published : int

In [ ]:
book1 = Book('PythonBackend', '임종한', '2024')

In [ ]:
book2 = Book('PythonBackend', '임종한', 2024)