# 문자열 포매팅

In [ ]:
print("hello world")

hello world

In [ ]:
a = 1
print(a)

1

In [ ]:
# % 연산자 이용한 포맷팅
name = "lion"
today = "2024-02-21"
now_time = 9
print("멋쟁이 사자는 영어로 like lion")

멋쟁이 사자는 영어로 like lion

In [ ]:
print("멋쟁이 사자는 영어로 like %s 이고 오늘 날짜는 %s"%(name, today))

멋쟁이 사자는 영어로 like lion 이고 오늘 날짜는 2024-02-21

In [ ]:
print("멋쟁이 사자는 영어로 like %s 이고 지금시간은 %d시다"%(name, now_time))

멋쟁이 사자는 영어로 like lion 이고 지금시간은 9시다

In [ ]:
number = 3.141592
print("파이는 %f"%(number))

파이는 3.141592

In [ ]:
print("파이는 %.2f"%(number))

파이는 3.14

In [ ]:
# format 함수
name = "lion"
print("멋쟁이 사자는 영어로 like {}".format(name))

멋쟁이 사자는 영어로 like lion

In [ ]:
man = "강사"
print("멋쟁이 사자는 영어로 like {1}, 나는 {0}다".format(name, man))

멋쟁이 사자는 영어로 like 강사, 나는 lion다

In [ ]:
number = 3.141592
print("파이 : {0:.2f}".format(number))

파이 : 3.14

In [ ]:
# f-string
name = "여러분"
print(f"안녕하세요! {name}")

안녕하세요! 여러분

In [ ]:
number = 3.141592
print(f"소수 {number: .2f}")

소수  3.14

# 조건문
if, elif, else 키워드를 사용

In [ ]:
x = 21
y = 10

x / y

2.1

In [ ]:
x // y

2

In [ ]:
x % y

1

In [ ]:
# 짝수?
x % 2

1

In [ ]:
x == y

False

In [ ]:
x == 21

True

In [ ]:
x != y

True

In [ ]:
# 할당 연산자
c = 10
c = c + 1
c

In [ ]:
c += 1
c

12

In [ ]:
c = 10
c  += 1
c

11

In [ ]:
c -= 10
c

1

In [ ]:
x = True
y = False

In [ ]:
x and y

False

In [ ]:
x or y

True

In [ ]:
not x

False

In [ ]:
lions = ['창훈', '지현', '현수', '룡']

In [ ]:
'창훈' in lions

True

In [ ]:
'지현' not in lions

False

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is z)     # True, x와 z는 같은 객체를 참조
print(x is y)     # False, x와 y는 내용은 같지만 다른 객체
print(x is not y) # True, x와 y는 다른 객체

True
False
True

In [ ]:
print(x is y)     # False, x와 y는 내용은 같지만 다른 객체

False

In [ ]:
x[1] = 100
x

[1, 100, 3]

In [ ]:
y

[1, 2, 3]

In [ ]:
z

[1, 100, 3]

# 조건문!!

In [ ]:
lions = ['창훈', '지현', '현수', '룡', '종용']
guest = '재헌'
if guest in lions:
  print("안녕하세요! {}".format(guest))
else:
  print(f"새롭게 오셨군요! 반갑습니다!! {guest}님" )

새롭게 오셨군요! 반갑습니다!! 재헌님

In [ ]:
# 여러 팀에 속한 분도 찾아보고 싶어
lions = ['창훈', '지현', '현수', '룡', '찬미', '종용']
python_team = ['지안','현서','현수', '찬미']
# guest = '재헌'
guest = '찬미'
# 단축키 alt+shift+위아래 화살표
# 옮기기 alt + 화살표
if guest in lions:
  print("안녕하세요! 라이온팀의 {}님".format(guest))
# elif guest in python_team:
if guest in python_team:
  print("안녕하세요! 파이썬팀의 {}님".format(guest))
else:
  print(f"새롭게 오셨군요! 반갑습니다!! {guest}님" )

안녕하세요! 라이온팀의 찬미님

In [ ]:
# 라이온팀이고 파이썬팀인지 체크 # and
# 라이온팀인지
# 파이썬팀인지
# 기타

SyntaxError: expected ':' (<ipython-input-61-0db85c3abe00>, line 2)

In [ ]:
lions = ['창훈', '지현', '현수', '찬미', '종용']
python_team = ['지안','현서','현수', '찬미']
# guest = '찬미'
guest = '창훈'

if guest in lions or guest in python_team: # 라이온팀이거나 파이썬팀인지 체크 # or
  print("두 팀 모두 속하셨네요")
elif guest in lions:    # 라이온팀인지
  print("라이온팀에 모두 속하셨네요")
elif guest in python_team:  # 파이썬팀인지
  print("파이썬팀에 모두 속하셨네요")
else:   # 기타
  print("환영합니다!!")

두 팀 모두 속하셨네요

In [ ]:
lions = ['창훈', '지현', '현수', '찬미', '종용']
python_team = ['지안','현서','현수', '찬미']
guest = input("참석자는?")

if (guest in lions) and (guest in python_team): # 라이온팀이거나 파이썬팀인지 체크 # or
  print("두 팀 모두 속하셨네요")
elif guest in lions:    # 라이온팀인지
  print("라이온팀에 모두 속하셨네요")
elif guest in python_team:  # 파이썬팀인지
  print("파이썬팀에 모두 속하셨네요")
else:   # 기타
  print("환영합니다!!")

참석자는?지현
라이온팀에 모두 속하셨네요

In [ ]:
lions = ['창훈', '지현', '현수', '찬미', '종용']
python_team = ['지안','현서','현수', '찬미']
guest = input("참석자는?")

if (guest in lions) and (guest in python_team): # 라이온팀이거나 파이썬팀인지 체크 # or
  print("두 팀 모두 속하셨네요")
elif guest in lions:    # 라이온팀인지
  print("라이온팀에 모두 속하셨네요")
elif guest in python_team:  # 파이썬팀인지
  print("파이썬팀에 모두 속하셨네요")
else:   # 기타
  print("환영합니다!!")

참석자는?지안
파이썬팀에 모두 속하셨네요

In [ ]:
total_member = lions + python_team
set(total_member)

{'종용', '지안', '지현', '찬미', '창훈', '현서', '현수'}

In [ ]:
a = '21'
type(a)

str

In [ ]:
number = input("숫자 써주세요")
number, type(number)

숫자 써주세요22

('22', str)

In [ ]:
number1 = input("숫자 써주세요")
number2 = input("숫자 써주세요")
number = number1 + number2
number

숫자 써주세요11
숫자 써주세요22

'1122'

In [ ]:
a = '123'
a

'123'

In [ ]:
int(a)

123

In [ ]:
number1 = input("숫자 써주세요")
number1 = int(number1)
number2 = int(input("숫자 써주세요"))
number = number1 + number2
number

숫자 써주세요11
숫자 써주세요28

39

In [ ]:
number1 = input("손님이 낸 금액 :")
number1 = int(number1)
number2 = int(input("음료 금액 : "))
print("거스름돈은 {}입니다.".format(number1-number2))

손님이 낸 금액 :1000
음료 금액 : 4500
거스름돈은 -3500입니다.

# 반복문!!
- for
- while

In [ ]:
# 슬라이싱
a = [1,2,3,4,5,6,7,8,9,10]
for i in a[1:3]:
  print(i)

2
3

In [ ]:
# for
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
count = 0
while count < 10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in lions:
  print(i)

창훈
지현
현수
찬미
종용

In [ ]:
tiger = {'해', '달', '별', '바다'}
for i in tiger:
  print(i)

해
달
바다
별

In [ ]:
backend = {"name":"likelion","기수":9}
for i in backend:
  print(i)

name
기수

In [ ]:
for a, b in backend.items():
  print(a)
  print(b)

name
likelion
기수
9

In [ ]:
backend.keys(),backend.values()

(dict_keys(['name', '기수']), dict_values(['likelion', 9]))

In [ ]:
# 팩토리얼 구하기
# 5! = 5*4*3*2*1

number = int(input("숫자를 넣으세요! : "))
output = 1
for i in range(number):
  output *= i+1
  print(output)

숫자를 넣으세요! : 5
1
2
6
24
120

In [ ]:
count = 0
while True:
  count += 1
  if count%2==0:
    continue
  print(count)
  if count > 10:
    break

1
3
5
7
9
11

In [ ]:
# 빵집 쇼핑 프로그램 만들어 볼까?
# 메뉴
# 고객이 빵주세요 -> 주문
# 주인이 여깄습니다 -> 주기

In [ ]:
menu = ['카스테라','단팥빵','크림빵']
while True:
  print("우리 가게의 메뉴")
  print(menu)
  # 주문하기
  order = int(input("숫자를 0:카스테라, 1:단팥빵, 2:크림빵 중에 선택하세요(안살거면 9누르기) : "))
  # 만약에 9가 눌려지면 나가자
  if order == 9:
    break
  print("{} 주세요.".format(menu[(order)]))
  # 빵 주기
  print("{} 여기 있습니다.".format(menu[(order)]))
print("이용해 주셔서 감사합니다.")
  # break

우리 가게의 메뉴
['카스테라', '단팥빵', '크림빵']
숫자를 0:카스테라, 1:단팥빵, 2:크림빵 중에 선택하세요(안살거면 9누르기) : 0
카스테라 주세요.
카스테라 여기 있습니다.
우리 가게의 메뉴
['카스테라', '단팥빵', '크림빵']
숫자를 0:카스테라, 1:단팥빵, 2:크림빵 중에 선택하세요(안살거면 9누르기) : 1
단팥빵 주세요.
단팥빵 여기 있습니다.
우리 가게의 메뉴
['카스테라', '단팥빵', '크림빵']
숫자를 0:카스테라, 1:단팥빵, 2:크림빵 중에 선택하세요(안살거면 9누르기) : 9
이용해 주셔서 감사합니다.

In [ ]:
# 배달의 민족 - 라이더
areas = ['서울','경기','부산','대구']
# 배차 지역이 하나씩 나온다
# 내가 배달가고 싶은 지역이면 배차 신청을 누른다
# 배차 신청을 하면 간다 -> 10000원 벌기
# 퇴근을 누르면 끝
income = 0
for area in areas:
  print(f"{area}로 주문이 나왔습니다.")
  answer = input("가실래요?? (y/n) : ")
  # print(answer)
  # y면 가고, n이면 안가야지
  if answer == 'y':
    print("{}로 배송 출발합니다".format(area))
    print("1만원 벌었어요")
    income +=10000
  elif answer =='n':
    print("{}는 안갈래요".format(area))
  else:
    print("퇴근할래요!!")
    break
print("오늘 하루도 고생하셨습니다!")
print("오늘은 %d원 버셨군요!"%income)

서울로 주문이 나왔습니다.
가실래요?? (y/n) : y
서울로 배송 출발합니다
1만원 벌었어요
경기로 주문이 나왔습니다.
가실래요?? (y/n) : y
경기로 배송 출발합니다
1만원 벌었어요
부산로 주문이 나왔습니다.
가실래요?? (y/n) : n
부산는 안갈래요
대구로 주문이 나왔습니다.
가실래요?? (y/n) : p
퇴근할래요!!
오늘 하루도 고생하셨습니다!
오늘은 20000원 버셨군요!

In [ ]:
while True:
  print("배달 가능한 지역:", areas)
  choice = input("배달을 원하는 지역을 선택하세여 (퇴근: q):")
  if choice == 'q':
    print("퇴근합니다.")
    print("오늘 총 벌은 금액은 {}원입니다.".format(total_earning))
  if choice in areas:
    print("배차 신청을 합니다.")
    print("배달을 완료하였습니다. 10,000원을 벌었습니다.")
    total_earning += 10000
  else:
    print("배달 가능한 지역이 아닙니다. 다른 지역을 선택하세요.")

배달 가능한 지역: ['서울', '경기', '부산', '대구']
배달을 원하는 지역을 선택하세여 (퇴근: q):서울
배차 신청을 합니다.
배달을 완료하였습니다. 10,000원을 벌었습니다.

NameError: name 'total_earning' is not defined

# 리스트 컴프리헨션

In [ ]:
a = [0,1,2,3,4,5]
a

[0, 1, 2, 3, 4, 5]

In [ ]:
%%time
number = 100000
a_for=[]
for i in range(number):
  a_for.append(i)

CPU times: user 8.94 ms, sys: 1e+03 µs, total: 9.94 ms
Wall time: 10.9 ms

In [ ]:
%%time
a_comp = [i for i in range(number)]
# a_comp

CPU times: user 3.95 ms, sys: 1.01 ms, total: 4.96 ms
Wall time: 4.98 ms

In [ ]:
a_comp = [i for i in range(10)]
a_comp

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 짝수로만 만들고 싶은데??
a_comp = [i for i in range(10) if i%2==0]
a_comp

[0, 2, 4, 6, 8]

In [ ]:
name = "Korea"
name if len(name) > 3 else "America"

'Korea'

In [ ]:
# 짝수는 1씩 빼고 싶어 ex) 2 -> 1
# 짝수일때만 리스트에 넣는데 1씩 빼서 넣을게
a_comp = [i-1 for i in range(10) if i%2==0 ]
a_comp

[-1, 1, 3, 5, 7]

In [ ]:
# 모든 숫자를 넣는데 짝수일때는 1씩 빼고 싶어
a_comp = [i-1 if i%2==0 else i for i in range(10)]
a_comp

[-1, 1, 1, 3, 3, 5, 5, 7, 7, 9]

In [ ]:
netflix_dict = {"name":"오징어게임","배우":"이정재"}

In [ ]:
a_dict_comp = { 키:벨류 for i in ...}

TypeError: 'ellipsis' object is not iterable

In [ ]:
a_dict_comp = { a:a for a in range(8)}
a_dict_comp

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7}

In [ ]:
a_dict_comp = { a:a**2 for a in range(8)}
a_dict_comp

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
movie_titles = [
    "어벤져스: 엔드게임",
    "인셉션",
    "스타워즈: 깨어난 포스",
    "타이타닉",
    "어바웃 타임",
    "라라랜드",
    "어벤져스: 인피니티 워",
    "해리포터와 마법사의 돌",
    "겨울왕국",
    "매트릭스"
]

main_characters =[
    "토니스타크",
    "도미닉 코브",
    "레이"
    "잭 드로즈",
    "팀",
    "세바스찬",
    "토르",
    "해리포터",
    "엘사",
    "네오"
]

In [ ]:
# 출력 : 어벤져스의 주인공은 토니 스타크입니다.
for tmp in zip(movie_titles, main_characters):
  print("{}의 주인공은 {}입니다.".format(tmp[0], tmp[1]))

어벤져스: 엔드게임의 주인공은 토니스타크입니다.
인셉션의 주인공은 도미닉 코브입니다.
스타워즈: 깨어난 포스의 주인공은 레이잭 드로즈입니다.
타이타닉의 주인공은 팀입니다.
어바웃 타임의 주인공은 세바스찬입니다.
라라랜드의 주인공은 토르입니다.
어벤져스: 인피니티 워의 주인공은 해리포터입니다.
해리포터와 마법사의 돌의 주인공은 엘사입니다.
겨울왕국의 주인공은 네오입니다.

In [ ]:
# 출력 : 어벤져스의 주인공은 토니 스타크입니다.
for title, character in zip(movie_titles, main_characters):
  print("{}의 주인공은 {}입니다.".format(title, character))

어벤져스: 엔드게임의 주인공은 토니스타크입니다.
인셉션의 주인공은 도미닉 코브입니다.
스타워즈: 깨어난 포스의 주인공은 레이잭 드로즈입니다.
타이타닉의 주인공은 팀입니다.
어바웃 타임의 주인공은 세바스찬입니다.
라라랜드의 주인공은 토르입니다.
어벤져스: 인피니티 워의 주인공은 해리포터입니다.
해리포터와 마법사의 돌의 주인공은 엘사입니다.
겨울왕국의 주인공은 네오입니다.

In [ ]:
movie_characters = {title:character for title, character in zip(movie_titles, main_characters)}
movie_characters

{'어벤져스: 엔드게임': '토니스타크',
 '인셉션': '도미닉 코브',
 '스타워즈: 깨어난 포스': '레이잭 드로즈',
 '타이타닉': '팀',
 '어바웃 타임': '세바스찬',
 '라라랜드': '토르',
 '어벤져스: 인피니티 워': '해리포터',
 '해리포터와 마법사의 돌': '엘사',
 '겨울왕국': '네오'}

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x
y[1]=100
y

[1, 100, 3]

In [ ]:
# 1. 0 0+1 1 1+1 2 2+1 3 3+2 5
i = 0
j = 0
n = int(input("숫자를 입력해 주세요! : "))
for j in range(n):
  if i == 0:
    i += 1
  print(sum)
  sum = i + (i-1)

숫자를 입력해 주세요! : 10
1
1
1
1
1
1
1
1
1
1

In [ ]:
# 6.
i = 0
j = 0
n = int(input("숫자를 입력해 주세요! : "))
for i in range(n):
  for j in range(n):
    print("*")
    j += 1
  i += 1

숫자를 입력해 주세요! : 4
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*