# 데이터 하나 골라서 다운받고 내용을 살펴봅시다!
- 10시부터 이어서 하겠습니다!

In [4]:
import pandas as pd # pandas를 사용하기 위해 import
import numpy as np # import numpy

In [5]:
# pip install pandas
# 터미널에서 pandas를 설치해야 모듈을 사용할 수 있음

# Series

In [6]:
# 1차원 벡터, 열 벡터 cf) list
a = [1,2,3,4,5]
sr = pd.Series(a)   #  pandas의 Series 클래스를 사용하여 a라는 리스트를 열 벡터 형태로 나타냄

In [7]:
sr # 인덱스 리스트값 열형태로 출력 datatype은 64비트 정수형

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
type(sr) # sr객체의 타입과 생성자에 대한 설명출력

pandas.core.series.Series

# DataFrame

In [9]:
# 2차원 구조
# 열은 DataFrame의 열(column)을, 행은 인덱스(index)
df = pd.DataFrame(a) # 리스트 a를 이용하여 DataFrame 객체를 생성
df

   0
0  1
1  2
2  3
3  4
4  5

In [10]:
type(df) # df객체의 타입과 생성자에 대한 설명출력

pandas.core.frame.DataFrame

In [11]:
a = np.random.rand(3,5) # 3x5 크기의 0과 1 사이의 균일 분포(uniform distribution)에서 무작위 값으로 채워진 2차원 배열을 생성
a

array([[0.43596753, 0.71040978, 0.15192418, 0.33704975, 0.24555023],
       [0.1643045 , 0.1944228 , 0.55316962, 0.55894908, 0.84109866],
       [0.15905602, 0.09628705, 0.95972448, 0.44449369, 0.94380181]])

In [12]:
pd.DataFrame(a) # NumPy 배열 a를 DataFrame으로 변환
# 행과 열은 인덱스와 열 레이블을 가지고 있음

          0         1         2         3         4
0  0.435968  0.710410  0.151924  0.337050  0.245550
1  0.164304  0.194423  0.553170  0.558949  0.841099
2  0.159056  0.096287  0.959724  0.444494  0.943802

# DataFrame 구성하기

## 1.리스트로 만들기

In [13]:
company = [
    ['한국갤럽', 1000, '데이터처리부서 통계 검증 & 지수산출 분야'],
    ['플럭스코리아', 1500, '온오프라인 교육 플랫폼 설계 및 제작'],
    ['굿어스', 2000, '클라우드 개발분야'],
    ['STK', 2500, '글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅'],
    ['에스넷시스템', 3000, '네트워킹 구축 솔루션 제공'],
    ['리서치앤리서치', 3500, '리서치 자료의 데이터 분석 및 처리부서'],
    ['인성정보',4000, '클라우드, 데이터 센터 등 IT 업무환경 구축'],
    ['골든플래닛', 4500, '데이터 마케팅을 위한 데이터 수집 및 가공분야'],
    ['크립티드', 5000, '블록체인 개발 부문'],
    ['모멘티', 5500, 'IT 프로젝트 수행 전문 기업']
]
company

[['한국갤럽', 1000, '데이터처리부서 통계 검증 & 지수산출 분야'],
 ['플럭스코리아', 1500, '온오프라인 교육 플랫폼 설계 및 제작'],
 ['굿어스', 2000, '클라우드 개발분야'],
 ['STK', 2500, '글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅'],
 ['에스넷시스템', 3000, '네트워킹 구축 솔루션 제공'],
 ['리서치앤리서치', 3500, '리서치 자료의 데이터 분석 및 처리부서'],
 ['인성정보', 4000, '클라우드, 데이터 센터 등 IT 업무환경 구축'],
 ['골든플래닛', 4500, '데이터 마케팅을 위한 데이터 수집 및 가공분야'],
 ['크립티드', 5000, '블록체인 개발 부문'],
 ['모멘티', 5500, 'IT 프로젝트 수행 전문 기업']]

In [14]:
pd.DataFrame(company) #  2차원 리스트의 각 요소가 DataFrame의 행과 열로 매핑

         0     1                          2
0     한국갤럽  1000    데이터처리부서 통계 검증 & 지수산출 분야
1   플럭스코리아  1500       온오프라인 교육 플랫폼 설계 및 제작
2      굿어스  2000                  클라우드 개발분야
3      STK  2500    글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅
4   에스넷시스템  3000             네트워킹 구축 솔루션 제공
5  리서치앤리서치  3500      리서치 자료의 데이터 분석 및 처리부서
6     인성정보  4000  클라우드, 데이터 센터 등 IT 업무환경 구축
7    골든플래닛  4500  데이터 마케팅을 위한 데이터 수집 및 가공분야
8     크립티드  5000                 블록체인 개발 부문
9      모멘티  5500           IT 프로젝트 수행 전문 기업

In [15]:
df_company = pd.DataFrame(company) # 2차원 리스트 company를 사용하여 pandas DataFrame을 생성
df_company # 객체df_company는 생성된 DataFrame을 가리키는 변수

         0     1                          2
0     한국갤럽  1000    데이터처리부서 통계 검증 & 지수산출 분야
1   플럭스코리아  1500       온오프라인 교육 플랫폼 설계 및 제작
2      굿어스  2000                  클라우드 개발분야
3      STK  2500    글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅
4   에스넷시스템  3000             네트워킹 구축 솔루션 제공
5  리서치앤리서치  3500      리서치 자료의 데이터 분석 및 처리부서
6     인성정보  4000  클라우드, 데이터 센터 등 IT 업무환경 구축
7    골든플래닛  4500  데이터 마케팅을 위한 데이터 수집 및 가공분야
8     크립티드  5000                 블록체인 개발 부문
9      모멘티  5500           IT 프로젝트 수행 전문 기업

In [16]:
df_company.columns # 기본값인 정수형 열 레이블의 범위를 반환

RangeIndex(start=0, stop=3, step=1)

In [17]:
df_company.columns = ['기업명', '매출액', '업무'] # 열 레이블(컬럼명)을 변경
df_company

       기업명   매출액                         업무
0     한국갤럽  1000    데이터처리부서 통계 검증 & 지수산출 분야
1   플럭스코리아  1500       온오프라인 교육 플랫폼 설계 및 제작
2      굿어스  2000                  클라우드 개발분야
3      STK  2500    글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅
4   에스넷시스템  3000             네트워킹 구축 솔루션 제공
5  리서치앤리서치  3500      리서치 자료의 데이터 분석 및 처리부서
6     인성정보  4000  클라우드, 데이터 센터 등 IT 업무환경 구축
7    골든플래닛  4500  데이터 마케팅을 위한 데이터 수집 및 가공분야
8     크립티드  5000                 블록체인 개발 부문
9      모멘티  5500           IT 프로젝트 수행 전문 기업

## 딕셔너리로 만들기

In [18]:
company_dict = {
    '기업명': ['한국갤럽', '플럭스코리아', '굿어스', 'STK', '에스넷시스템', '리서치앤리서치', '인성정보', '골든플래닛', '크립티드', '모멘티'],
    '매출액': [1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500],
    '업무': [
        '데이터처리부서 통계 검증 & 지수산출 분야',
        '온오프라인 교육 플랫폼 설계 및 제작',
        '클라우드 개발분야',
        '글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅',
        '네트워킹 구축 솔루션 제공',
        '리서치 자료의 데이터 분석 및 처리부서',
        '클라우드, 데이터 센터 등 IT 업무환경 구축',
        '데이터 마케팅을 위한 데이터 수집 및 가공분야',
        '블록체인 개발 부문',
        'IT 프로젝트 수행 전문 기업'
    ]
}
company_dict

{'기업명': ['한국갤럽',
  '플럭스코리아',
  '굿어스',
  'STK',
  '에스넷시스템',
  '리서치앤리서치',
  '인성정보',
  '골든플래닛',
  '크립티드',
  '모멘티'],
 '매출액': [1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500],
 '업무': ['데이터처리부서 통계 검증 & 지수산출 분야',
  '온오프라인 교육 플랫폼 설계 및 제작',
  '클라우드 개발분야',
  '글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅',
  '네트워킹 구축 솔루션 제공',
  '리서치 자료의 데이터 분석 및 처리부서',
  '클라우드, 데이터 센터 등 IT 업무환경 구축',
  '데이터 마케팅을 위한 데이터 수집 및 가공분야',
  '블록체인 개발 부문',
  'IT 프로젝트 수행 전문 기업']}

In [26]:
df_company = pd.DataFrame(company_dict) # 딕셔너리의 키(key)가 DataFrame의 열(column) 
# 각 키에 해당하는 값(value)이 열의 데이터
df_company

       기업명   매출액                         업무
0     한국갤럽  1000    데이터처리부서 통계 검증 & 지수산출 분야
1   플럭스코리아  1500       온오프라인 교육 플랫폼 설계 및 제작
2      굿어스  2000                  클라우드 개발분야
3      STK  2500    글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅
4   에스넷시스템  3000             네트워킹 구축 솔루션 제공
5  리서치앤리서치  3500      리서치 자료의 데이터 분석 및 처리부서
6     인성정보  4000  클라우드, 데이터 센터 등 IT 업무환경 구축
7    골든플래닛  4500  데이터 마케팅을 위한 데이터 수집 및 가공분야
8     크립티드  5000                 블록체인 개발 부문
9      모멘티  5500           IT 프로젝트 수행 전문 기업

In [20]:
df_company.index # DataFrame의 행 인덱스를 반환
# 인덱스 설정이 없어서 기본값으로 정수형 인덱스 반환

RangeIndex(start=0, stop=10, step=1)

In [21]:
df_company.index = df_company['기업명'] # DataFrame의 '기업명' 열을 시리즈로 반환
df_company # DataFrame의 인덱스가 '기업명' 열의 값으로 출력

             기업명   매출액                         업무
기업명
한국갤럽        한국갤럽  1000    데이터처리부서 통계 검증 & 지수산출 분야
플럭스코리아    플럭스코리아  1500       온오프라인 교육 플랫폼 설계 및 제작
굿어스          굿어스  2000                  클라우드 개발분야
STK          STK  2500    글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅
에스넷시스템    에스넷시스템  3000             네트워킹 구축 솔루션 제공
리서치앤리서치  리서치앤리서치  3500      리서치 자료의 데이터 분석 및 처리부서
인성정보        인성정보  4000  클라우드, 데이터 센터 등 IT 업무환경 구축
골든플래닛      골든플래닛  4500  데이터 마케팅을 위한 데이터 수집 및 가공분야
크립티드        크립티드  5000                 블록체인 개발 부문
모멘티          모멘티  5500           IT 프로젝트 수행 전문 기업

In [27]:
df_company

       기업명   매출액                         업무
0     한국갤럽  1000    데이터처리부서 통계 검증 & 지수산출 분야
1   플럭스코리아  1500       온오프라인 교육 플랫폼 설계 및 제작
2      굿어스  2000                  클라우드 개발분야
3      STK  2500    글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅
4   에스넷시스템  3000             네트워킹 구축 솔루션 제공
5  리서치앤리서치  3500      리서치 자료의 데이터 분석 및 처리부서
6     인성정보  4000  클라우드, 데이터 센터 등 IT 업무환경 구축
7    골든플래닛  4500  데이터 마케팅을 위한 데이터 수집 및 가공분야
8     크립티드  5000                 블록체인 개발 부문
9      모멘티  5500           IT 프로젝트 수행 전문 기업

In [29]:
df_company['기업명'], type(df_company['기업명']) # 기업명' 열에 해당하는 데이터를 출력 해당 데이터의 타입인 Series 객체 출력

(0       한국갤럽
 1     플럭스코리아
 2        굿어스
 3        STK
 4     에스넷시스템
 5    리서치앤리서치
 6       인성정보
 7      골든플래닛
 8       크립티드
 9        모멘티
 Name: 기업명, dtype: object,
 pandas.core.series.Series)

In [30]:
df_company[['기업명', '업무']] # 여러 열을 선택하려면 선택하려는 열들의 이름을 리스트로 전달

       기업명                         업무
0     한국갤럽    데이터처리부서 통계 검증 & 지수산출 분야
1   플럭스코리아       온오프라인 교육 플랫폼 설계 및 제작
2      굿어스                  클라우드 개발분야
3      STK    글로벌빅데이터 플랫폼 및 보안솔루션 컨설팅
4   에스넷시스템             네트워킹 구축 솔루션 제공
5  리서치앤리서치      리서치 자료의 데이터 분석 및 처리부서
6     인성정보  클라우드, 데이터 센터 등 IT 업무환경 구축
7    골든플래닛  데이터 마케팅을 위한 데이터 수집 및 가공분야
8     크립티드                 블록체인 개발 부문
9      모멘티           IT 프로젝트 수행 전문 기업

CSV 파일 가져와서 데이터 처리

In [25]:
# CSV 파일을 읽을 때는 pd.read_csv() 함수를 사용하며, 파일의 인코딩이 'cp949'로 지정
df = pd.read_csv('국민건강보험공단_건강검진정보_20221231.CSV', encoding='cp949')
df

FileNotFoundError: [Errno 2] No such file or directory: '국민건강보험공단_건강검진정보_20221231.CSV'

In [ ]:
df.columns

Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세 단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '결손치유무', '치아마모증율', '제3대구치(사랑니)이상', '치석'],
      dtype='object')

In [ ]:
tmp_cols = list(df.columns) #  DataFrame의 열 레이블을 리스트로 변환

In [ ]:
tmp_cols[0]='year' #  열 레이블 리스트의 첫 번째 요소를 'year'로 변경

In [ ]:
df.columns = tmp_cols # 'year'로 변경된 열 레이블 대입하여 변경

In [ ]:
df

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,47.0,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,13.0,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,14.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,38.0,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,15.0,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,24.0,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,18.0,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,25.0,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.head(10) # 처음 10개의 행을 출력

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,47.0,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,13.0,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,14.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,38.0,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,15.0,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0
5,2022,4965711,29,1,12,175,75,85.0,1.5,1.5,...,37.0,17.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
6,2022,2977478,11,2,11,155,40,63.0,0.7,0.8,...,14.0,19.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7,2022,3965986,41,1,9,170,75,76.0,1.2,1.2,...,18.0,71.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
8,2022,2382969,28,2,14,145,45,72.6,0.2,0.5,...,14.0,14.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
9,2022,4408125,11,1,17,165,70,98.0,0.6,0.5,...,21.0,23.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail(20) # 마지막 20개의 행을 출력

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
338795,2022,3814123,28,1,12,155,65,86.0,0.5,0.6,...,35.0,34.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338796,2022,3795634,42,2,12,155,55,73.0,0.9,0.7,...,29.0,150.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
338797,2022,4538990,11,1,13,160,85,103.6,0.7,0.7,...,44.0,32.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,1.0
338798,2022,2613104,41,2,12,160,65,80.0,0.9,0.8,...,74.0,58.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
338799,2022,2226545,47,1,11,170,85,94.0,0.8,0.8,...,40.0,29.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,1.0
338800,2022,1055789,29,1,10,170,80,95.0,1.5,0.9,...,55.0,135.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0
338801,2022,238708,42,2,10,160,60,74.5,0.7,1.0,...,10.0,15.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,1.0
338802,2022,2172201,41,1,9,175,70,81.0,1.5,1.5,...,15.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
338803,2022,1173469,11,2,11,165,65,80.0,0.9,0.5,...,10.0,13.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
338804,2022,1683052,26,1,11,170,65,81.0,1.0,1.2,...,18.0,60.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
338805,2022,3150873,41,2,12,155,60,77.0,0.8,0.9,...,40.0,40.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338806,2022,3156983,44,2,14,160,70,92.3,0.8,1.0,...,9.0,17.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338807,2022,886700,11,2,9,160,50,69.3,0.9,1.0,...,17.0,12.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338808,2022,4240964,26,1,11,175,70,85.0,0.9,0.9,...,31.0,43.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
338809,2022,4263571,27,1,17,165,65,93.0,0.4,0.2,...,12.0,19.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,24.0,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,18.0,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,25.0,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Info 확인하기

In [ ]:
df.info() #  DataFrame의 기본 정보를 요약하여 제공하는 메서드
# 인덱스의 데이터 타입 및 갯수
# 열의 갯수
# 각 열의 데이터 타입과 갯수
# 메모리 사용량

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338815 entries, 0 to 338814
Data columns (total 33 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          338815 non-null  int64
 1   가입자일련번호       338815 non-null  int64
 2   시도코드          338815 non-null  int64
 3   성별            338815 non-null  int64
 4   연령대코드(5세 단위)  338815 non-null  int64
 5   신장(5cm단위)     338815 non-null  int64
 6   체중(5kg단위)     338815 non-null  int64
 7   허리둘레          338785 non-null  float64
 8   시력(좌)         338756 non-null  float64
 9   시력(우)         338758 non-null  float64
 10  청력(좌)         338757 non-null  float64
 11  청력(우)         338755 non-null  float64
 12  수축기혈압         336241 non-null  float64
 13  이완기혈압         336242 non-null  float64
 14  식전혈당(공복혈당)    336215 non-null  float64
 15  총콜레스테롤        140292 non-null  float64
 16  트리글리세라이드      140292 non-null  float64
 17  HDL콜레스테롤      140292 non-null  float64
 18  LDL콜레스테롤      137868 non-null  float64
 19  혈색소           336213 non-null  float64
 20  요단백           334387 non-null  float64
 21  혈청크레아티닌       336215 non-null  float64
 22  혈청지오티(AST)    336215 non-null  float64
 23  혈청지피티(ALT)    336215 non-null  float64
 24  감마지티피         336215 non-null  float64
 25  흡연상태          338779 non-null  float64
 26  음주여부          338788 non-null  float64
 27  구강검진수검여부      338814 non-null  float64
 28  치아우식증유무       104683 non-null  float64
 29  결손치유무         0 non-null       float64
 30  치아마모증율        0 non-null       float64
 31  제3대구치(사랑니)이상  0 non-null       float64
 32  치석            104683 non-null  float64
dtypes: float64(26), int64(7)
memory usage: 85.3 MB

# 통계 정보 확인하기

In [ ]:
df.describe() # 각 열에 대한 기술 통계량을 계산하여 제공하는 메서드
# count: 해당 열의 비어 있지 않은 값의 개수
# mean: 해당 열의 평균값
# std: 해당 열의 표준편차
# min: 해당 열의 최솟값
# 25%, 50%, 75%: 해당 열의 백분위수(25%, 50%, 75%)
# max: 해당 열의 최댓값

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
count,338815.0,3.388150e+05,338815.000000,338815.000000,338815.000000,338815.000000,338815.000000,338785.000000,338756.000000,338758.000000,...,336215.000000,336215.000000,338779.000000,338788.000000,338814.000000,104683.000000,0.0,0.0,0.0,104683.000000
mean,2022.0,2.502754e+06,34.050325,1.493172,11.973800,161.251420,63.279164,82.107397,0.925160,0.925088,...,26.733723,37.812296,1.550931,0.590596,0.308969,0.152050,NaN,NaN,NaN,0.574640
std,0.0,1.443037e+06,12.462417,0.499954,2.218594,9.249007,12.674933,10.045037,0.630909,0.628069,...,24.233239,73.193669,0.782696,0.491725,0.462069,0.359071,NaN,NaN,NaN,0.588084
min,2022.0,2.400000e+01,11.000000,1.000000,9.000000,130.000000,30.000000,8.900000,0.100000,0.100000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
25%,2022.0,1.253514e+06,27.000000,1.000000,10.000000,155.000000,55.000000,75.000000,0.700000,0.700000,...,16.000000,16.000000,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
50%,2022.0,2.502607e+06,41.000000,1.000000,12.000000,160.000000,60.000000,82.000000,0.900000,0.900000,...,21.000000,24.000000,1.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,1.000000
75%,2022.0,3.751514e+06,43.000000,2.000000,13.000000,170.000000,70.000000,89.000000,1.000000,1.000000,...,31.000000,39.000000,2.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,1.000000
max,2022.0,4.999981e+06,49.000000,2.000000,18.000000,195.000000,135.000000,999.000000,9.900000,9.900000,...,3244.000000,9999.000000,3.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,2.000000

# 형태 확인하기

In [ ]:
df.shape # 행과 열의 개수를 반환

(338815, 33)

## 정렬하기

In [ ]:
df.sort_index() # DataFrame을 인덱스(행 레이블)를 기준으로 정렬

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,47.0,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,13.0,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,14.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,38.0,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,15.0,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,24.0,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,18.0,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,25.0,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.sort_index(ascending=False) # DataFrame을 인덱스(행 레이블)를 기준으로 내림차순으로 정렬

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,25.0,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,18.0,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,24.0,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,15.0,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,38.0,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,14.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,13.0,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,47.0,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN

# Pandas 메서드를 이용할때, 결과값이 표시되는 경우는 기본적으로 원본에는 변화가 없습니다.
- 원본의 변화를 주고 싶으면, 변수로 받거나, inplace라는 옵션을 지정해 주어야 합니다.

In [ ]:
df.sort_index(ascending=False)

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,25.0,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,18.0,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,24.0,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,15.0,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,38.0,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,14.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,13.0,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,47.0,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
#df.sort_index(ascending=False, inplace=True)
df_desc = df.sort_index(ascending=False)

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,25.0,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,18.0,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,24.0,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,15.0,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,38.0,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,14.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,13.0,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,47.0,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.sort_values(by='허리둘레') # DataFrame을 '허리둘레' 열의 값을 기준으로 정렬

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
154084,2022,408282,44,1,11,175,85,8.9,1.0,1.2,...,46.0,54.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
231766,2022,2633807,43,1,9,175,75,33.0,1.2,1.2,...,27.0,34.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
182257,2022,821590,26,2,9,155,40,50.0,1.0,0.8,...,13.0,16.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
185587,2022,3829960,11,2,12,150,30,50.0,1.5,0.8,...,71.0,16.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0
78795,2022,4100090,26,2,13,150,35,50.0,0.9,0.8,...,12.0,9.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253042,2022,1686554,11,2,9,160,65,NaN,0.9,0.9,...,5.0,6.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
256385,2022,3210977,11,2,9,155,50,NaN,1.5,1.5,...,18.0,12.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
278493,2022,1235144,45,2,18,150,40,NaN,9.9,9.9,...,9.0,7.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
282726,2022,1879671,45,2,18,155,40,NaN,NaN,NaN,...,9.0,9.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
308521,2022,3354216,44,2,12,150,45,NaN,NaN,NaN,...,17.0,27.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

- 이상치
데이터 집합에서 일반적인 패턴에서 벗어나는 값을 가진 데이터
혈압이나 혈당 수치와 같은 건강 관련 데이터에서는 일반적인 생리학적 범위를 벗어나는 값들을 이상치로 간주
- 결측치
데이터 집합에서 값이 비어 있는 경우
 NaN(Not a Number) Pandas에서는 결측치를 나타내는 특수한 값

In [ ]:
df.sort_values(by='혈청지피티(ALT)', ascending=True) #  DataFrame을 '혈청지피티(ALT)' 열의 값을 기준으로 오름차순으로 정렬

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
29412,2022,1126562,41,2,9,150,40,61.0,0.8,0.9,...,1.0,14.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
228274,2022,733348,44,2,18,135,40,78.0,0.7,0.7,...,1.0,20.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,2.0
118982,2022,4084270,26,1,12,165,75,93.0,1.2,1.0,...,1.0,25.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
212821,2022,3989029,27,2,15,160,60,83.0,1.0,0.9,...,1.0,16.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
299508,2022,1275266,45,1,14,165,60,83.1,0.5,0.8,...,1.0,178.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338305,2022,2289596,41,1,16,170,75,93.0,0.5,0.8,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338345,2022,1467484,26,2,14,155,55,80.0,1.0,0.8,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338678,2022,315091,31,2,18,140,40,72.0,0.3,0.3,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.sort_values(by=['시도코드', '음주여부']) #  DataFrame을 '시도코드' 열을 기준으로 먼저 정렬하고, 그 다음에 '음주여부' 열을 기준으로 정렬

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
6,2022,2977478,11,2,11,155,40,63.0,0.7,0.8,...,14.0,19.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
10,2022,1072348,11,2,12,155,75,78.0,0.3,0.4,...,32.0,58.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
25,2022,1245844,11,1,17,170,85,106.0,0.8,1.2,...,18.0,14.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
29,2022,4640934,11,2,11,150,50,80.0,0.7,1.0,...,16.0,14.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,1.0
52,2022,4079599,11,2,14,145,55,79.0,0.6,0.8,...,16.0,24.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337770,2022,4744480,49,1,12,165,75,87.0,0.8,1.0,...,25.0,57.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
337872,2022,2435637,49,1,14,170,90,115.0,1.0,1.0,...,47.0,57.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
337888,2022,2109110,49,1,11,170,80,93.0,0.7,0.7,...,42.0,32.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0
338396,2022,4540526,49,1,13,175,90,102.0,1.2,1.0,...,20.0,15.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
338504,2022,1361020,49,1,17,160,70,89.0,0.8,0.7,...,26.0,27.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN

# apply

In [ ]:
df['성별'].apply(lambda x : '남자' if x ==1 else '여자') # apply()각 행 또는 열에 함수를 적용
# 성별' 열을 기준으로 각 행의 값을 확인하여, 값이 1인 경우 '남자'로 변환하고 그렇지 않은 경우 '여자'로 변환

0         남자
1         여자
2         남자
3         여자
4         여자
          ..
338810    남자
338811    여자
338812    남자
338813    여자
338814    여자
Name: 성별, Length: 338815, dtype: object

In [ ]:
df['성별_str'] = df['성별'].apply(lambda x : '남자' if x ==1 else '여자')
# 변환한 값을 새로운 열 '성별_str'에 할당

In [ ]:
df

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석,성별_str
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0,여자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0,남자
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0,남자
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,여자

## 필터링

In [ ]:
df['성별_str'] == '남자' # 성별_str' 열의 각 값이 '남자'인지 확인

0          True
1         False
2          True
3         False
4         False
          ...
338810     True
338811    False
338812     True
338813    False
338814    False
Name: 성별_str, Length: 338815, dtype: bool

In [ ]:
df[df['성별_str'] == '남자'] # '성별_str' 열의 값이 '남자'인 행들만 선택

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석,성별_str
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
5,2022,4965711,29,1,12,175,75,85.0,1.5,1.5,...,17.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
7,2022,3965986,41,1,9,170,75,76.0,1.2,1.2,...,71.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
9,2022,4408125,11,1,17,165,70,98.0,0.6,0.5,...,23.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338804,2022,1683052,26,1,11,170,65,81.0,1.0,1.2,...,60.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
338808,2022,4240964,26,1,11,175,70,85.0,0.9,0.9,...,43.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
338809,2022,4263571,27,1,17,165,65,93.0,0.4,0.2,...,19.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0,남자
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0,남자

In [ ]:
df['허리둘레'].min(), df['허리둘레'].max() #  '허리둘레' 열에서 최솟값과 최댓값

(8.9, 999.0)

In [ ]:
df['허리둘레'].sum(), df['허리둘레'].mean(), df['허리둘레'].var(), df['허리둘레'].std()
# '허리둘레' 열에 대해 합계(sum), 평균(mean), 분산(variance), 표준편차(standard deviation)

(27816754.6, 82.1073973168824, 100.9027760802876, 10.045037385708806)

In [ ]:
df['허리둘레'].count() # '허리둘레' 열에 있는 값의 개수

338785

In [ ]:
df[df['성별_str'] == '남자']['허리둘레'].count() 
# '성별_str' 열의 값이 '남자'인 행들 중에서 '허리둘레' 열에 있는 값의 개수를 반환

171715

In [ ]:
df['성별_str'].mode() #  '성별_str' 열에서 가장 자주 등장하는 값 반환

0    남자
Name: 성별_str, dtype: object

In [ ]:
df.head() #  처음 5개의 행을 확인

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석,성별_str
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0,여자

In [ ]:
df.loc[3, ['시도코드','성별']] # loc()특정 행과 열에 해당하는 값을 반환

시도코드    26
성별       2
Name: 3, dtype: object

In [ ]:
df.iloc[3,2] # 행과 열의 순서를 정수 인덱스로 지정하여 값을 선택

26

## groupby

In [ ]:
df.groupby('성별') # '성별' 열을 기준으로 그룹화

In [ ]:
df.groupby('성별').mean() #  '성별' 열의 각 값을 그룹으로 하여 해당 그룹에 속하는 행들의 각 열의 평균값

<ipython-input-74-34fb6a0b8638>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('성별').mean()

,year,가입자일련번호,시도코드,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석
성별,,,,,,,,,,,,,,,,,,,,,
1,2022.0,2.502377e+06,34.300843,11.844201,167.797503,70.233082,86.242388,0.972600,0.974069,1.048941,...,30.906036,49.850339,2.002056,0.737793,0.334449,0.165134,NaN,NaN,NaN,0.591865
2,2022.0,2.503142e+06,33.792871,12.106988,154.524070,56.132686,77.857442,0.876402,0.874744,1.045492,...,22.428350,25.390345,1.087330,0.439322,0.282783,0.136145,NaN,NaN,NaN,0.553703

In [ ]:
df.value_counts('성별_str') # '성별_str' 열의 각 값의 빈도수를 계산
# df['성별_str'].value_counts()  Series 객체에 대해서 사용

성별_str
남자    171721
여자    167094
dtype: int64

In [ ]:
df.value_counts('성별_str', normalize=True) # '성별_str' 열의 각 값의 비율을 계산

성별_str
남자    0.506828
여자    0.493172
dtype: float64

In [ ]:
df.groupby('시도코드')['신장(5cm단위)'].mean() 
# '시도코드'를 기준으로 DataFrame을 그룹화한 후, 각 그룹에 속하는 '신장(5cm단위)' 열의 값들의 평균을 계산

시도코드
11    161.124513
26    161.331844
27    161.228752
28    161.338720
29    161.357869
30    161.188761
31    162.726710
36    162.701442
41    161.659664
42    160.484182
43    160.688620
44    160.959674
45    160.195114
46    160.404651
47    160.655892
48    161.608439
49    160.635993
Name: 신장(5cm단위), dtype: float64

## drop

In [ ]:
df.drop([0], axis=0) #  axis=0(행) 첫 번째 행이 제거된 새로운 DataFrame이 반환
# 원본 DataFrame을 변경하지 않음 inplace=True 옵션을 사용하여 적용

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증율,제3대구치(사랑니)이상,치석,성별_str
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,12.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0,여자
5,2022,4965711,29,1,12,175,75,85.0,1.5,1.5,...,17.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,남자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,63.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN,2.0,남자
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,13.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,0.0,남자
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,여자
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,여자

In [ ]:
df.drop(['결손치유무'], axis=1) # axis=1(열) '결손치유무' 열을 제거

,year,가입자일련번호,시도코드,성별,연령대코드(5세 단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치아마모증율,제3대구치(사랑니)이상,치석,성별_str
0,2022,3008666,41,1,11,160,80,100.0,0.9,1.0,...,47.0,108.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,남자
1,2022,2204972,46,2,9,150,55,70.0,0.9,1.2,...,13.0,19.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,여자
2,2022,3210310,48,1,10,180,70,89.0,1.0,1.5,...,14.0,19.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,남자
3,2022,206345,26,2,14,150,50,68.0,0.7,0.8,...,38.0,21.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,여자
4,2022,1180297,41,2,10,165,55,69.0,0.7,1.0,...,15.0,12.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,여자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338810,2022,3586692,27,1,12,165,65,91.0,0.7,0.7,...,24.0,63.0,3.0,1.0,1.0,0.0,NaN,NaN,2.0,남자
338811,2022,1740110,36,2,13,155,60,80.0,0.7,0.7,...,18.0,23.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,여자
338812,2022,2278449,11,1,16,165,70,87.0,0.6,0.5,...,25.0,13.0,2.0,1.0,1.0,0.0,NaN,NaN,0.0,남자
338813,2022,187336,41,2,17,150,45,74.0,0.7,0.5,...,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,여자
338814,2022,4137053,41,2,13,160,70,81.0,0.7,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,여자

In [ ]:
df.dropna(axis=1) #  NaN 값을 포함하는 열을 제거

        year  가입자일련번호  시도코드  성별  연령대코드(5세 단위)  신장(5cm단위)  체중(5kg단위) 성별_str
0       2022  3008666    41   1            11        160         80     남자
1       2022  2204972    46   2             9        150         55     여자
2       2022  3210310    48   1            10        180         70     남자
3       2022   206345    26   2            14        150         50     여자
4       2022  1180297    41   2            10        165         55     여자
...      ...      ...   ...  ..           ...        ...        ...    ...
338810  2022  3586692    27   1            12        165         65     남자
338811  2022  1740110    36   2            13        155         60     여자
338812  2022  2278449    11   1            16        165         70     남자
338813  2022   187336    41   2            17        150         45     여자
338814  2022  4137053    41   2            13        160         70     여자

[338815 rows x 8 columns]

In [ ]:
import logging # 소프트웨어 실행 중에 발생하는 이벤트 디버깅, 모니터링, 오류 분석 등

In [ ]:
# 기본 로거를 구성하고, 로깅 레벨을 설정
# 레벨 DEBUG / INFO / WARNING / ERROR / CRITICAL
logging.basicConfig(level=logging.ERROR)

# 로깅 메시지 작성
logging.info("This is an info message")
logging.warning("This is a warning message")
logging.error("This is an error message")

WARNING:root:This is a warning message
ERROR:root:This is an error message

In [ ]:
import logging

# 로거 생성 및 로깅 레벨 설정
logger = logging.getLogger('my_logger')
logger.setLevel(logging.DEBUG)

# 파일 핸들러 생성 및 로거에 추가
file_handler = logging.FileHandler('example.log')
logger.addHandler(file_handler)

# 로깅 메시지 작성
logger.debug("Debug message")
logger.info("Info message")
logger.error("Error message")

DEBUG:my_logger:Debug message
INFO:my_logger:Info message
ERROR:my_logger:Error message

In [ ]:
import logging

# 로거 생성 및 로깅 레벨 설정
logger = logging.getLogger('my_custom_logger') # 로그를 그룹화 'my_custom_logger'라는 이름의 새로운 로거를 생성
logger.setLevel(logging.INFO)

# 핸들러 생성 및 포맷터 설정
handler = logging.StreamHandler()
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
handler.setFormatter(formatter)
logger.addHandler(handler)

# 로깅 메시지 작성
logger.info("This is a custom log message")

2024-03-05 02:40:10,264 - my_custom_logger - INFO - This is a custom log message
INFO:my_custom_logger:This is a custom log message