# 1 - 10 파이썬 시작하기

In [2]:
# 1.화면에 Hello World 문자열을 출력하세요.
print('Hello World')

Hello World

In [3]:
# 2.화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 3.화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
# 4.화면에 C:\Windows를 출력하세요.
print("C:\\Windows")

C:\Windows

In [7]:
# 5.다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 개행문자 줄바꿈 \t 탭키만큼의 공백 보통 4칸 띄어쓰기

안녕하세요.
만나서		반갑습니다.

In [8]:
# 6.print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print("오늘은", "일요일")
# 오늘은일요일
# 오답 print함수의 인자들 사이에는 기본적으로 공백이 추가됨

오늘은 일요일

In [9]:
# 7.print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung
print("naver")

naver

In [10]:
# 8.print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung
print("naver")

naver

In [34]:
# 9.다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first");print("second")
print("first", end='');print("second")

first
second
firstsecond

In [12]:
# 10.5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

# 11 - 20 파이썬 변수

In [13]:
# 11.변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 
# 평가금액을 출력하세요.
삼성전자 = 50000
삼성전자주식=10
평가금액=삼성전자*삼성전자주식
print(평가금액)

500000

12.다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 
바인딩해보세요.
항목	    값
시가총액	298조
현재가  	50,000원
PER	       15.79

In [21]:
시가총액 = 298*10**12
현재가 = 50000
PER = 15.79
print(시가총액,현재가,PER)

298000000000000 50000 15.79

13. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>> s = "hello"

>> t = "python"
두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [25]:
s = "hello"
t = "python"
print(s+"! "+t)

hello! python

In [27]:
# 14.아래 코드의 실행 결과를 예상해보세요.
# >> 2 + 2 * 3 
# 출력결과 8
print(2+2*3)

8

15.type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

>> a = 128

>> print (type(a))

<class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.

>> a = "132"

In [45]:
# 출력결과 < class 'str'>
a = "132"
print(type(a))
print(a)

<class 'str'>
132

In [43]:
# 16.문자열 '720'를 정수형으로 변환해보세요.
# >> num_str = "720"
num_str = "720"
num_int = int(num_str)
print(type(num_int))
print(num_int)

<class 'int'>
720

In [41]:
# 17.정수 100을 문자열 '100'으로 변환해보세요.
# num = 100
num = 100
num_str = str(num)
print(type(num_str))
print(num_str)

<class 'str'>
100

In [42]:
# 18.문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
num = "15.79"
num_float = float(num)
print(type(num_float))
print(num_float)

<class 'float'>
15.79

In [46]:
#19. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
# year = "2020"
year = "2020"
int_year = int(year)
print()

In [47]:
# 20.에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
air_month = 48584
month = 36
sum_air = air_month*month
print(sum_air)

1749024

# 파이썬 문자열

In [48]:
# 21.letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
# letters = 'python'
# 실행 예
# p t
letters = 'python'
print(letters[0],letters[2])

p t

In [49]:
# 22.자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
# >> license_plate = "24가 2210"
# 실행 예: 2210
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [50]:
# 23.아래의 문자열에서 '홀' 만 출력하세요.
# >> string = "홀짝홀짝홀짝"
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [51]:
# 24.문자열을 거꾸로 뒤집어 출력하세요.
# >> string = "PYTHON"
# 실행 예:
# NOHTYP
string = "PYTHON"
print(string[::-1])

NOHTYP

In [54]:
# 25.아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
# >> phone_number = "010-1111-2222"
# 실행 예
# 010 1111 2222
phone_number = "010-1111-2222"
normal = phone_number.replace("-", " ")
print(normal)

010 1111 2222

In [57]:
# 26.25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
# 실행 예
# 01011112222
print(normal.replace(" ",""))

01011112222

In [58]:
# 27.url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
# >> url = "http://sharebook.kr"
# 실행 예:
# kr
url = "http://sharebook.kr"
contrib_url = url.split(".")
print(contrib_url[-1])

kr

In [59]:
# 28. 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)
# 출력 Python

TypeError: 'str' object does not support item assignment

In [60]:
# 29.아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
# 실행 예:
# Abcdfe2A354A32A
print(string.replace('a','A'))

Abcdfe2A354A32A

In [61]:
# 30.아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)
# 출력 a8cd

abcd

# 31-40

In [62]:
# 31.아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)
# 출력 34

34

In [63]:
# 32.아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)
# 출력 HiHiHi

HiHiHi

In [64]:
# 33.화면에 '-'를 80개 출력하세요.

# 실행 예:
# --------------------------------------------------------------------------------
print('-'*80)

--------------------------------------------------------------------------------

In [68]:
# 34.변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java
t3 = t1 +" " + t2 + " "
print(t3*4)

python java python java python java python java

In [75]:
# 35.변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
print({"이름: % 나이: %", name1, age1})

{'김민수', 10, '이름: % 나이: %'}

In [ ]:
# 36.문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [76]:
# 37. 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [78]:
# 38.삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
nc_상장주식수 = 상장주식수.replace(",","")
int_상장주식수 = int(nc_상장주식수)
print(int_상장주식수,type(int_상장주식수))

5969782550 <class 'int'>

In [79]:
# 39.다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
stp_분기 = 분기.split("(")
print(stp_분기[0])

2020/03

In [80]:
# 40.문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
print(data.strip())

삼성전자

# 41-50

In [81]:
# 41.다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [82]:
# 42.다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [83]:
# 43.문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

tic1 = "hello"
print(tic1.capitalize())

Hello

In [84]:
# 44.파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
print(file_name.endswith('.xlsx'))

True

In [87]:
# 45.파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
print(file_name.endswith('.xlsx'or'xls'))

True

In [88]:
# 46.파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

In [89]:
# 47.다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
print(a.split(" "))

['hello', 'world']

In [90]:
# 48.다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

In [91]:
# 49.다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
print(date.split("-"))

['2020', '05', '01']

In [92]:
# 50.문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
print(data.rstrip())

039490

# 파이썬 리스트 51-60

51.2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

순위	영화
1	    닥터 스트레인지
2   	스플릿
3   	럭키

In [93]:
moview_rank=["닥터 스트레인지","스플릿","럭키"]
print(moview_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [94]:
# 52.051의 movie_rank 리스트에 "배트맨"을 추가하라.
moview_rank.append("배트맨")
print(moview_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [97]:
# 53.movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
# moview_rank.index[1]("슈퍼맨")
print(moview_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [102]:
# 54.movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
# moview_rank[3].remove()

In [104]:
# 55.movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del moview_rank[2:]
print(moview_rank)

['닥터 스트레인지', '스플릿']

In [105]:
# 56.lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
#실행 예:
# >> langs
# ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
Langs = lang1 + lang2
print(Langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [107]:
# 57.다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]
# 실행 예:
# max:  7
# min:  1
max = max(nums)
min = min(nums)
print("max: ", max)
print("min: ", min)

max:  7
min:  1

In [109]:
# 58. 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
# 실행 예:
# 15
for i in nums:
    sum = 0
    sum += nums
    print(sum)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [1]:
# 59.다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(cook.length())

AttributeError: 'list' object has no attribute 'length'

In [ ]:
# 60. 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
# 실행 예:
# 3.0